<div class="container py-5 text-center  ">
  <div class="d-flex justify-content-center flex-wrap pb-5">
    <div class="d-flex justify-content-center">
      <% @letters.each do |letter| %>
        <div class="letter-card text-shadow">
          <%= letter %>
        </div>
      <% end %>
    </div>
  </div>

  <%= simple_form_for @party do |f| %>
    <%= f.input :word, label: false %>
    <%= f.input :ten_letters_list, :as => :hidden, :input_html => { :value => @letters } %>
    <%= f.button :submit, "Jouer", class: "btn" %>
  <% end %>

</div>
